body{
  background-color: #000000; 
  color: white;
  font-family: sans-serif;
  margin: 0;
  text-align: center; 
}

header{
  background-color: #221f21;
  padding: 20px; 
}

.fighterContainer{
  display: flex; 
  background-color: #000000;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.fighter-card{
  background-color: #c7d4b9;
  width: 200px;
}

.fighter-card img{
  width: 150px;
  height: 150px;
}

button{
  background-color: #ffe29a;
  border: 1px solid gray;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover{
  background-color: red;
}

.info-box{
  margin-top: 40px;
  padding: 20px; 
  
}


