body{
  background-color: #000000; 
  color: rgb(218, 254, 255);
  font-family: Times New Roman, serif;
  margin: 0;
  text-align: center; 
}

header{
  background-color: #221f21;
  padding: 20px; 
  font-family: Times New Roman, serif;

}

.fighterContainer{
  display: flex; 
  background-color: #3f3b3b;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.fighter-card{
  border-radius: 14px;
  background-color: #92978c;
  padding: 20px;
  width: 200px;
}

.fighter-card img{
  border-radius: 14px; 
  border-width: 4px;
  border-color: #00ffee;
  border-style: solid;
  margin-top: 10px;
  width: 150px;
  height: 150px;
}

button{
  background-color: #ffffff;
  border: 1px solid gray;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(0, 225, 255);
}

.info-box{
  margin-top: 40px;
  padding: 20px; 
  
}


