body{
  background-color: #4AB3BD; 
  color: white;
  font-family: sans-serif;
  margin: 0;
  text-align: center; 
}

header{
  background-color: #F7BEE7;
  padding: 20px; 
}

.fighterContainer{
  display: flex; 
  background-color: #D6BFC6;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.fighter-card{
  background-color: #c7e5ef
  border-radius: 12px;
  padding: 20px;
  width: 220px; 
}  

.fighter-card img{
  width: 150px;
  height: 150px;
}

button{
  background-color: #ffe29a;
  border: 1px solid gray;
}




